.ContributionCalendar-grid {
    overflow-x: auto !important;
}

a, .contrib-column {
    display: none !important;
}

.ContributionCalendar-day[data-level="0"] {
    background: #1f2733 !important;
    opacity: 1 !important;
}

.github-prs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.github-pr-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
}

.anchor-text {
    margin-left: 1rem;
    font-size: 1.125rem;
}
